{% extends 'base.html' %}
{% block body %}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<div  class="row container-fluid ">
  <table class="table table-bordered">
    <thead>
        <tr>
          <th  colspan="3">Purchase Register</th>
          <th></th>
          </tr>
      </thead> 
      <tr>
        <th  colspan="3">Particulars</th>
        <td>
           <center>
            Purchases<br>
            company name<br>Transactions 
           </center>
        </td>       
      </tr>
      <tr>
        <td colspan="5">
            <a href="">April</a> 
        </td>
      </tr>
      <tr>
        <td colspan="5">
            <a href="">May</a> 
        </td>
      </tr>
      <tr>
        <td colspan="5">
        <a href="">June</a>  
        </td> 
      </tr>
      <tr>
        <a>
      </tr>
      <tr>
        <td colspan="5">
        Grand Total:
        </td> 
      </tr>
</table>
</div>
{% endblock %}